<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <div class="headline">
      <h1 id="page-title">Travel App</h1>
  </header>


  <main>
    <section id="add-trip-section">


      <form id="add-trip-form">
        <div class="trip-summary row">
          <label for="city"> From trip</label>
          <input type="text" id="startCity" required placeholder=" Enter Location">
        </div>

        <div class="trip-summary row">
          <label for="city"> The Destination</label>
          <input type="text" id="destinationCity" required placeholder=" Enter Location">
        </div>

        <div class="trip-departing row">
          <label for="date">Departure Time</label>
          <input type="date" id="departingDate" required placeholder="yyyy/mm/dd">
        </div>

        <div class="trip-arriving row">
          <label for="date">Arrival Time</label>
          <input type="date" id="arrivingDate" required placeholder="yyyy/mm/dd">
        </div>



        <div class="button-panel row">
          <input type="button" id="btn-add" value="Save Trip" />
        </div>

      </form>
    </section>

  
      <section class='invisible' id="trip_details_section">
        <div id="trip_details">
            <div id="dest_photo">
                <img id="photo-of-destination" src="" alt="destination image">
            </div>
            <div id="main_details">
              <div id="trip-from">Your trip starts from: <span class="dynamic_content" id="startCityResult"></span></div>
              <div id="destination-info">Your trip destination: <span class="dynamic_content" id="destinationCityResult"></span></div>
              <div id="departure-date">Day your trip starts at: <span class="dynamic_content" id="departingDateResult"></span>
              </div>
              <div id="arriving-date">Day you arrive at: <span class="dynamic_content" id="arrivingDateResult"></span></div>
              <div id="count-down">Days to go <span class="dynamic_content" id="countdown"></span>
              </div>
              <div id="weather-info">Expect weather to be <span class="dynamic_content" id="temperature"></span> ,
                mostly
                <span class="dynamic_content" id="weather"></span>.</div>
              <div>
              <button class="button_style" id="remove_trip">Remove</button>
              </div>
            </div>
            </div>

    </section>
  </main>

  <footer>
    <div class="box">
      <div class="author">
        <i>Develop by Akihiko Nakamura.</i>
      </div>
      <div class="date">
        &copy;2021
      </div>
      <div class="box-item other">
        Udacity
      </div>

    </div>

  </footer>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script type="text/javascript"  src="bundle.js" charset="utf-8"></script>
</body>

</html>