$primary: #34cceb;
$primary-light: hsl(203, 15%, 44%);
$primary-dark: #46474a;

$secondary: #e0ed51;
$secondary-light: #ffdc65;
$secondary-dark: #c17b00;

$primary-text: #ffffff;
$secondary-text: #000000;

$background-dark: #E1E2E1;
$background-light: #F5F5F6;